
                            /* Css pour le général*/
@font-face{
    font-family: 'Raleway', sans-serif;
    src: url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");
    font: #000;
}

html{
    font-family: Raleway;
}

html, body{
    margin: 0px;
    padding: 0px;
}

main{
    margin: 10px 4%;
}

h1{
    font-size: 1.4em;
}

.h1{
    font-size: 0.9em;
    margin-bottom: 10px;
}

h4{ 
    font-size: 1em;
    font-weight: bold;
}

h2{
    flex-basis: 100%;
}

a{
    text-decoration: none;
    color: #000;
}

                    /*fin du css général*/
                    /*css du header*/

header{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}

#logo{
    margin: 0px 4%;
    flex-basis: 55%;
}

nav {
    display: flex;
    flex-flow: row;
    margin: 0px 10px;
    }

nav div{
    list-style: none;
    padding: 20px 10px;
}

nav div:hover{
    border-top: 3px solid #0065FC;
    transition: 300ms;
}

nav div a:hover{
    color: #0065FC;
    transition: 300ms;
}

#signin{
    margin-right: 20px;
    color: #0065FC;
    font-weight: bold;
    margin: 0px 4%;
}

                    /*fin du header*/
                    /*css des filtres et informations*/

#labelfilters{
    font-weight: bold;
    margin-right: 10px;
}

.i div{
    background-color: #DEEBFF;
    border-radius: 50px;
    color: #0065FC;
    padding: 0px 5px 0px -10px;
    font-size: 1.2em;
    height: 50px;
    width: 50px;
    transform: translateX(-35%);
}

.i i{
    transform: translateY(80%);
}

.i, #informations{
    display: flex;
    align-items: center;
    border: 3px solid #F2F2F2;
    border-radius: 50px;
    background-color: #ffffff;
}

.i{
    height: 50px;
    font-size: 0.9em;
    margin: 10px 20px;
}

.i p{
    padding-right: 15px;
}

#filters{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 10px;
}

.i:hover{
    border: 2px solid #0065FC;
    font-weight: bold;
    transition-delay: 125ms;
}
.i:hover div{
    background-color: #0065FC;
    color: #ffffff;
    transition: 300ms;
}

                    /*fin des filtres et informations*/
                    /*css des informations*/

#informations{
    border: none;
    margin: 10px;
}

#informations i{
    font-size: 0.7em;
    width: auto;
    padding: 5px 8px;
    color: #0065FC;
    border: 2px solid #DEEBFF;
    border-radius: 50%;
}

#informations p{
    margin: 0px 5px;
    font-size: 0.8em;
}

                    /*fin des informations*/
                    /*css de la searchbar*/

#searchbar{
    display: flex;
    text-align: center;
    margin: 10px;
}

#iconmap{
    color: #000;
    background-color: #F2F2F2;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    width: 50px;
    font-size: 1em;
}

#iconmap i{
    transform: translateY(80%);
}

input{
    padding-left: 10px;
}

input, #submit{
    height: 50px;
    border: 2px solid #F2F2F2;
    margin: 0 -1px;
    color: #000;
    font-weight: bold;
}

#loupe{
    visibility: hidden;
}

#search{
    width: 250px;
}

#submit{
    background-color: #0065FC;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    border: 2px solid #0065FC;
    margin: 0px 0px 0px -1px;
    color: #ffffff;
    height: 50px;
}

                    /*fin de la searchbar*/
                    /*css du contenu principal*/

#content{
    display: flex;
    margin: 20px 0px;
    justify-content: space-between;
}

#accomodations, #popular{
    background-color: #F2F2F2;
    border-radius: 18px;
}

#accomodations, #popular{
    flex-flow: row wrap;
}

#accomodations{
    order: 1;
    flex-basis: 66%;
    justify-content: space-around;
    display: flex;
}

#popular{
    order: 2;
    flex-basis: 30%;
    justify-content: center;
    position: relative;
}

.accomodations{
    background-color: #ffffff;
    margin: 15px;
    border: 4px solid #ffffff;
    border-radius: 25px;
    box-shadow: 1px 1px 5px 2px #5a5959;
    width: 250px;
    height: 230px;
    overflow: hidden;
}

.accomodations img{
    width: 100%;
    height: 68%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

.popular{
    display: flex;
    background-color: #ffffff;
    border: 4px solid #ffffff;
    border-radius: 25px;
    box-shadow: 1px 1px 5px 2px #5a5959;
    width: auto;
    height: 150px;
    overflow: hidden;
}

.popular img{
    width: 50%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

#plus{
    position: absolute;
    top: 20px;
    right: 20px;
}

#plus i{
    color: #000;
    font-size: 1em;
}

.accomodations_h2, .accomodations_plus, .popular_h2{
    padding-left: 35px;
}

                        /*css grid*/

.grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30px 200px 50px 150px;
    gap: 30px 35px;
    margin-bottom: 100px;
}

.grid div:nth-of-type(1){
    grid-column: 1 / span 4;
    grid-row: 1;
}

.grid div:nth-of-type(2){
    grid-column: 1;
    grid-row: 2 / span 3;
}

.grid div:nth-of-type(3){
    grid-column: 2;
    grid-row: 2 / span 2;
}

.grid div:nth-of-type(4){
    grid-column: 2;
    grid-row: 4;
}

.grid div:nth-of-type(5){
    grid-column: 3;
    grid-row: 2 / span 3;
}

.grid div:nth-of-type(6){
    grid-column: 4;
    grid-row: 2;
}

.grid div:nth-of-type(7){
    grid-column: 4;
    grid-row: 3 / span 2;
}

.activities{
    height: 100%;
    width: 100%;
    border-radius: 25px;
    box-shadow: 1px 1px 5px 2px #5a5959;
    position: relative;
    margin: 10px 0px;
}

.activities img{
    width: 100%;
    height: 95%;
    object-fit: cover;
    border-radius: 25px;
}

.activities figcaption{
    position: absolute;
    bottom: 0px;
    padding: 10px 0px 10px 7%;
    width: 93%;
    margin: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

                        /*fin du css grid*/

figcaption{
    margin: 2px 0px 0px 10px;
    background-color: #ffffff;
}

figcaption p{
    font-size: 0.8em;
    margin: 5px;
}

strong{
    font-size: 1.2em;
    font-weight: 700;
}

.fa-star{
    font-size: 0.8em;
    color: lightgrey;
}

.bluestars{
    color: #0065FC;
}

.plus{
    flex-basis: 100%;
    font-size: 1em;
    font-weight: bold;
    padding-bottom: 15px;
}
                    /*fin du contenu principal*/
                    /*css du footer*/

footer{
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
    gap: 18%;
    padding-bottom: 20px;
    padding-left: 3%;
}

footer a{
    font-size: 0.9em;
    padding-top: 1em;
}

                    /*fin du css du footer*/

                    /*début media queries*/

@media screen and (max-width: 1393px){

    .popular{
        height: 200px;
        overflow: hidden;
        flex-flow: column;
        align-items: flex-start;
    }
    
    .popular img{
        width: 100%;
        height: 60%;
        object-fit: cover;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0px;
    }
}

@media screen and (max-width: 1080px){

    #labelfilters{
        flex-basis: 100%;
    }

    h1{
        padding: 8% 0px 10px 0px;
    }

    #submit{
        display: none;
    }

    nav{
        order: 2;
        padding-bottom: 30px;
        width: 100vw;
        margin: 0px;
        text-align: center;
    }

    nav div{
        border-bottom: 3px solid #DEEBFF;
        margin: 0px;
        width: 100vw;
    }

    nav div:hover{
        border-top: none;
        border-bottom: 3px solid #0065FC;
        transition-duration: 300ms;
    }

    #loupe{
        visibility: visible;
        height: 50px;
        width: 50px;
        font-size: 1em;
        background-color: #0065FC;
        border-radius: 15px;
        border: none;
        margin: -1px 0 -1px -30px;
    }

    #loupe i{
        color: #ffffff;
    }

    #content{
        flex-flow: column;
        align-content: center;
    }

    #popular{
        order: 1;
        display: flex;
    }

    .popular{
        display: flex;
        flex-direction: row;
        background-color: #ffffff;
        border: 4px solid #ffffff;
        border-radius: 25px;
        box-shadow: 1px 1px 5px 2px #5a5959;
        width: 65vw;
        height: 150px;
        overflow: hidden;
    }
    
    .popular img{
        width: 50%;
        height: 100%;
        object-fit: cover;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
        border-top-right-radius: 0px;
    }

    #accomodations{
        order: 2;
        background-color: #ffffff;
    }

    .accomodations, .activities{
        height: 250px;
        width: 65vw;
        overflow: hidden;
    }
    
    .accomodations img{
        width: 100%;
        height: 64%;
        object-fit: cover;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0px;
    }

    #activities{
        display: flex;
        flex-direction: column;
        margin-left: 15%;
    }

    .grid{
        gap: 0px 0px;
    }
    
    .activities img{
        width: 100%;
        height: 250px;
        object-fit: cover;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

@media screen and (max-width: 800px){

    footer{
        flex-flow: column;
        justify-content: flex-start;
        padding-left: 38px;
    }
}

@media screen and (max-width: 700px){

    main{
        margin: 10px 0px;
    }

    h1, #h1, #searchbar, #filters, #informations{
        margin: 10px 3%;
    }

    .activities, .accomodations, .popular{
        width: 85vw;
    }

    #activities{
        margin-left: 28px;
    }

    #popular{
        width: 100vw;
        padding: 0px;
        border-radius: 0px;
    }
}

@media screen and (max-width: 480px){

    #searchbar{
        justify-content: center;
    }

    #labelfilters{
        margin-left: 20px;
    }
}

                            /*fin media queries*/
